@page {
  margin-top: 0.8em;
  margin-bottom: 0.8em;}

body {
  margin-left: 1em;
  margin-right: 1em;}

body {padding: 0;}

h2 {
  padding-top:0;
  display:block;}
  
p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-indent: 1.0em;
  text-align: justify;}
  
body > p:first-child {text-indent: 0}
div.text p:first-child {text-indent: 0}

blockquote p, li p {
  text-indent: 0.0em;
  text-align: left;}

.chapterHeader {
  height:60px;
  border:1px solid #000;
  display:block;
  margin-bottom:20px;
  background-color:#FFF;}
  
.chapterHeader .translation {
  float:left;
  font-weight: normal;
  margin-top:38px;
  margin-left: -8px;
  margin-bottom: 0px;
  padding-right: 16px;
  padding-left: 5px ;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size:26px;
  background-color:#FFF;}
                             
.chapterHeader .count {
  line-height: 100%;
  font-style:normal;
  font-weight: normal;
  text-transform:uppercase;
  font-size:94px;
  margin-right:18px;
  margin-top:-14px;
  margin-bottom: -20px;
  float:left;
  padding:0px;
  background-color:#FFF;}
  
div.body {}

div.book {
  padding-top: 6.0em;
  page-break-before: right;}
  
div.chapter {padding-top: 3.0em;}
div.part {padding-top: 3.0em;}
h3.section_title {text-align: center;}
div.verse {padding: 1.0em;}

div.verseline {
  font-style: italic;
  margin-left: 1.0em;
  text-indent: -1.0em;}
  
span.dropcap {
  font-size: 300%; 
  font-weight: bold; 
  float: left; 
  margin: -0.1em 0.125em -0.2em 0em; 
  text-indent: 0em; 
  line-height: 1em; 
  height: 1em;}
p.dropcap, p.noindent {text-indent: 0em;}


body {
  font-family: serif;
  oeb-column-number: 1;
  padding: 0;}

div.logo {
  text-align: left;
  padding-top: 2%;}

h1 {
  font-size: larger;
  text-align: center;
  padding-top: 15%;}

h2 {
  font-size: small;
  text-align: center;}

div.infos {
  font-size: smaller;
  padding-top: 15%;}

p {
  text-indent: 0.0em;
  margin-top: 0.0em;
  margin-bottom: 0.0em;}

a {
  color: #000000;
  text-decoration: none;}

